#nav-img {
    width: 20vw;
    position: absolute;
    top: -1.2vw;
    left: 20.6vw;
}

.nav-link {
    font-size: 1.4vw;
    margin-right: 1.5vw;
}

#navbar {
    position: absolute;
    z-index: 10;
    top: 5vw;
    left: 22vw;
    border: transparent;
    border-radius: 3vw;
}

#nav-img-link {
    position: absolute;
    z-index: 10;
    top: 2.5vw;
}

#carussel-container {
    size: 100vw;

}

.language-button {
    position:absolute;
    background-color: #47599E !important; 
    border-color: #47599E;
   

}

.active {
    background-color: #222c53 !important;
    border-color: #222c53 !important;
}

#language-button-container {
    position:absolute;
    z-index: 10;
    top: 2.1vw;
    left: 67vw

}