#nav-img {
    width: 20vw;
    position: absolute;
    top: -1.2vw;
    left: 20.6vw;
}

.nav-link {
    font-size: 1.4vw;
    margin-right: 1.5vw;
}

#navbar {
    position: absolute;
    z-index: 10;
    top: 5vw;
    left: 22vw;
    border: transparent;
    border-radius: 3vw;
}

#nav-img-link {
    position: absolute;
    z-index: 10;
    top: 2.5vw;
}

#carussel-container {
    position:absolute;
    width: 73vw !important;
    left: 12vw;

}

.language-button {
    position: absolute;
    background-color: #47599E !important;
    border-color: #47599E;


}

.active {
    background-color: #222c53 !important;
    border-color: #222c53 !important;
}

#language-button-container {
    position: absolute;
    z-index: 10;
    top: 2.1vw;
    left: 67vw;
}

.button-on-carussel {
    width: 6vw;
    position: absolute;
    left: 50vw;
    z-index: 11;
    top: 36vw
}

#button-act-carussel {
    color: #9e4790 !important;

}

.carussel-imgs {
    width: 87vw !important;
    border: transparent;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    left: -6.5vw
}